<p style="padding-left: 48%;font-size: 18px;color: deeppink;font-family: monospace;"><b>What we do</b></p>
<p style="padding-right: 33%;font-size: 30px;">
  <marquee direction="right" behaviour="alternate">
    <marquee direction="left" behaviour="alternate">
  Discover  Our Services
</marquee>
</marquee>
</p><br>

<div class="w3-row-padding" style="padding-left: 90px;padding-bottom: 20px;">
    <div class="w3-third" style="border-color: black;">
      <img src="../assets/Images/15.jpg" alt="" style="width:95%;height:120px;">
      <h6><i><b>Bar Services</b></i></h6>
      <p style="justify-content: flex-start;font-size: 14px;font-family: serif;"><i>Bar Services are
         available in our hotel.You will have a great time here. Managers are responsible for ensuring
         that their customers are satisfied with the service provided.</i></p>
     
    </div>
  
    <div class="w3-third" style="padding-right: 20px;padding-bottom: 20px;">
      <img src="../assets/Images/7.jpg" alt="" style="width:95%;height:120px;">
      <h6><i><b>Babysitting</b></i></h6>
      <p style="justify-content: flex-start;font-size: 14px;font-family: serif;"><i>As an additional service
         to guests with children,the hotel will provide Babysitting service upon request
         giving at least 3 hours advance notice</i></p> 
     
    </div>
  
    <div class="w3-third"  style="padding-right: 20px;">
      <img src="../assets/Images/16.jpg" alt="" style="width:95%;height:120px;">
      <h6><i><b>Spa Services</b></i></h6>
      <p style="justify-content: flex-start;font-size: 14px;font-family: serif;">
      <i> The extensive menu of Conifer includes a range of signature 
        therapies inspired by the Greek nature and as well as traditional treatments 
        such as facials, body wraps and scrubs.</i>
      </p>
      
    </div>
  </div>

  







 