.container {
    position: relative;
    font-family: Arial;
  }
  
  .text-block {
    position: absolute;
    bottom: 2px;
    left:20px;
    right: 20px;
    top: 24px;
  
    color:black;
    padding-left: 10px;
    padding-right: 240px;
  }
.text-block2 {
    position: absolute;
    bottom: 400px;
    left: 440px;
    right: 20px;
    top: 24px;
   
    color:rgb(241, 134, 134);
    padding-left: 220px;
    padding-right: 110px;
  }
  .text-block3 {
    position: absolute;
    bottom: 400px;
    left: 120px;
    right: 20px;
    top: 24px;
   
    color:rgb(241, 134, 134);
    padding-left: 140px;
    padding-right: 320px;
  }
  .text-block4 {
    position: absolute;
    bottom: 400px;
    left: 260px;
    right: 20px;
    top: 424px;
   
    color:rgb(241, 134, 134);
    padding-left: 140px;
    padding-right: 320px;
  }