   
    <div class="container" >
        <img src="../assets/Images/21.jpg" alt="Nature" style="width:100%;height: 510px;">
        <div class="text-block">
            <app-sign-up></app-sign-up>>
        </div>
        <div class="text-block2">
            <app-login></app-login>
        </div>
        <div class="text-block3">
           <marquee direction="right" behaviour="alternate">
                <marquee direction="left" behaviour="alternate">
                    <p style="font-size: 58px;font-family: serif;color: deeppink;">
                        <span style="background-color: black;"><b>Login<br>or<br> SignUp<br> for booking</b></span></p>
                </marquee>
                </marquee>
            
           
        </div>
        <div class="text-block4">
            <a mat-raised-button color="accent" routerLink="/booking">Click here to Book</a>
        </div>
      </div>
