  
    <div style="background-color:black;">
      <div class="w3-third" style="border-color: black;" style="background-color:black">
         
          <p style="padding-right:150px;font-size: 60px;color: deeppink;font-family:serif;">
              <b><i>
                  <marquee direction="right" behaviour="alternate">
                      <marquee direction="left" behaviour="alternate">
                  Rooms
                  </marquee>
                  </marquee>
                      
              </i> </b></p>
  </div>
      <div style="background-color: rgb(240, 77, 167);">
          <p style="font-size: 18px;font-family:'serif'; padding-left:1px;">
       <i>Welcome to the Conifer Rooms .
         <br>We have different types of rooms available
       </i>
    
          <br><b>Some of the rooms provided by us are</b>
      </p>     
  </div>

      <div class="w3-row-padding" style="padding-left: 10px;padding-bottom: 20px;">
          <div class="w3-third" style="border-color: black;">
              <div class="flip-card">
                  <div class="flip-card-inner">
                    
                    <div class="flip-card-front">
                      <img src="../assets/Images/22.jpg" alt="Avatar" style="width:300px;height:300px;">
                    </div>

                    <div class="flip-card-back" style="padding-top: 80px;background-color: darkblue;">
                      <h2 style="color:deeppink; font-family: serif;"><i><b>The Presidental Suite</b></i></h2> 
                      <h3 style="color:deeppink; font-family: serif;">$40,000</h3>
                    </div>

                  </div>
              </div>
          </div>
        
          <div class="w3-third" >
              <div class="flip-card">
                  <div class="flip-card-inner">
                      <div class="flip-card-front">
                          <img src="../assets/Images/23.jpg" alt="Avatar" style="width:300px;height:300px;">
                      </div>
                      <div class="flip-card-back" style="padding-top: 80px;background-color: darkblue;">
                          <h2 style="color:deeppink; font-family: serif;"><i><b>The Suite</b></i></h2> 
                          <h3 style="color:deeppink; font-family: serif;">$20,000</h3>
                        </div>
                  </div>
              </div>
           </div>
        
          <div class="w3-third"  >
              <div class="flip-card">
                  <div class="flip-card-inner">
                      <div class="flip-card-front">
                          <img src="../assets/Images/room6.jpg" alt="Avatar" style="width:300px;height:300px;">
                      </div>
                      <div class="flip-card-back" style="padding-top: 80px;background-color: darkblue;">
                          <h2 style="color:deeppink; font-family: serif;"><i><b>Junior Suite</b></i></h2> 
                          <h3 style="color:deeppink; font-family: serif;">$10,000</h3>
                        </div>
                  </div>
                </div>
           </div>
           <br>
      </div>
      
