  
    <div style="background-color:black;">
        <div class="w3-third" style="border-color: black;" style="background-color:black">
            <p style="padding-right: 120px;"></p>
            <p style="padding-left:1%;padding-right: 8% ;font-size: 60px;color: deeppink;font-family:serif;">
                <b><i>
                    <marquee direction="right" behaviour="alternate">
                        <marquee direction="left" behaviour="alternate">
                    Conifer Bar
                    </marquee>
                    </marquee>
                        
                </i> </b></p>
    </div>
        <div style="background-color: rgb(240, 77, 167);">
            <p style="justify-items: normal ;font-size: 18px;font-family:'serif';">
         <i>Welcome to the Conifer Bar .</i>
         <i>We are Providing a wide range of drinks like cocktails and mocktails, alcoholic and non-alcoholic drinks</i>
            <br><b>Some of the drinks provided by us are</b>
        </p>     
    </div>

        <div class="w3-row-padding" style="padding-left: 10px;padding-bottom: 20px;">
            <div class="w3-third" style="border-color: black;">
                <div class="flip-card">
                    <div class="flip-card-inner">
                      
                      <div class="flip-card-front">
                        <img src="../assets/Images/13.jpg" alt="Avatar" style="width:300px;height:300px;">
                      </div>

                      <div class="flip-card-back" style="padding-top: 80px;background-color: darkblue;">
                        <h2 style="color:deeppink; font-family: serif;"><i><b>Platinum Passion</b></i></h2> 
                        <h3 style="color:deeppink; font-family: serif;">$3,000</h3>
                      </div>

                    </div>
                </div>
            </div>
          
            <div class="w3-third" >
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="../assets/Images/9.jpg" alt="Avatar" style="width:300px;height:300px;">
                        </div>
                        <div class="flip-card-back" style="padding-top: 80px;background-color: darkblue;">
                            <h2 style="color:deeppink; font-family: serif;"><i><b>Ono Champagne Cocktail</b></i></h2> 
                            <h3 style="color:deeppink; font-family: serif;">$10,000</h3>
                          </div>
                    </div>
                </div>
             </div>
          
            <div class="w3-third"  >
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="../assets/Images/10.jpg" alt="Avatar" style="width:300px;height:300px;">
                        </div>
                        <div class="flip-card-back" style="padding-top: 80px;background-color: darkblue;">
                            <h2 style="color:deeppink; font-family: serif;"><i><b>Sapphire Martini</b></i></h2> 
                            <h3 style="color:deeppink; font-family: serif;">$4,000</h3>
                          </div>
                    </div>
                  </div>
             </div>
        </div>
        
<br><br>
<div class="w3-row-padding" style="padding-left: 10px;padding-bottom: 20px;">
    <div class="w3-third" style="border-color: black;">
        <div class="flip-card">
            <div class="flip-card-inner">
              
              <div class="flip-card-front">
                <img src="../assets/Images/11.jpg" alt="Avatar" style="width:300px;height:300px;">
              </div>

              <div class="flip-card-back" style="padding-top: 80px;background-color: darkblue;">
                <h2 style="color:deeppink; font-family: serif;"><i><b>Martini on the Rock</b></i></h2> 
                <h3 style="color:deeppink; font-family: serif;">$7,000</h3>
              </div>

            </div>
        </div>
    </div>
  
    <div class="w3-third" >
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="../assets/Images/12.jpg" alt="Avatar" style="width:300px;height:300px;">
                </div>
                <div class="flip-card-back" style="padding-top: 80px;background-color: darkblue;">
                    <h2 style="color:deeppink; font-family: serif;"><i><b>Orignal Mai Tai</b></i></h2> 
                    <h3 style="color:deeppink; font-family: serif;">$4,000</h3>
                  </div>
            </div>
        </div>
     </div>
  
    <div class="w3-third"  >
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="../assets/Images/14.jpg" alt="Avatar" style="width:300px;height:300px;">
                </div>
                <div class="flip-card-back" style="padding-top: 80px;background-color: darkblue;">
                    <h2 style="color:deeppink; font-family: serif;"><i><b>Manhattan</b></i></h2> 
                    <h3 style="color:deeppink; font-family: serif;">$1,800</h3>
                  </div>
            </div>
          </div> 
     </div>
</div>
</div>
<br>






