
<footer class="footer-distributed" style="background-color: darkblue;">

      <div class="footer-left">

        <h3>Conifer<span>Hotel</span></h3>

        <p class="footer-links">
          <a href="#" class="link-1">Home</a>
          <a href="#"></a>
          <a href="#">About</a>
          <a href="#"></a>
          <a href="#">Reviews</a>
          </p>

        <p class="footer-company-name" style="color:deeppink;">Conifer Hotel 2005</p>
      </div>

      <div class="footer-center">

        <div>
          
          <p>Address :-<span>444 S. Cedros Ave</span> Solana Beach, California</p>
        </div>

        <div>
        
          <p>Contact :- +1.555.555.5555</p>
        </div>

        <div>
          <p><a href="mailto:support@company.com"> Email :-support@company.com</a></p>
        </div>

      </div>

      <div class="footer-right">

        <p class="footer-company-about">
          <span>About the Hotel</span>
         Conifer is a luxury hotel that provides all facilities required to make the customers more and more happy
        </p>

      

      
      </div>
      </footer>
