  
  <div class="w3-row-padding" style="padding-left: 90px;padding-bottom: 20px;">
    <div class="w3-third" style="border-color: black;">
        <p style="padding-right: 100px;"></p>
        <p style="padding-left: 22%;font-size: 18px;color: deeppink;font-family: monospace;"><b>About Us</b></p>
    <p style="justify-items: normal ;font-size: 14px;font-family:serif;">
     <i>  The magnificent villas of Porto Zante Villas & Spa offer a wonderful living environment:
        Antique marble is
        on the spotlight, while stunning open living areas, with immense windows and private
         terraces bathe the sitting room and bedrooms in the sunlight.<br>
         Everything a guest might need can be found in the villas, from a personal working desk with
          iMac desktop and complimentary Wi-Fi internet, to a Sony Playstation 4 and satellite TV in all
           rooms and bathrooms. Guests can relax in their private garden, or enjoy dinner at their private
            Gervasoni outdoor lounge.</i>
    </p>
     
    </div>
  
    <div class="w3-third" style="padding-right: 20px;padding-bottom: 20px;padding-left: 40px;">
      <img src="../assets/Images/4.jpg" alt="" style="width:100%;height:350px;border-radius: 15%;border: 1px dotted deeppink;box-shadow: blue;">     
    </div>
  
    <div class="w3-third"  style="padding-right: 20px;">
      <img src="../assets/Images/2.jpg" alt="" style="width:88%;height:350px;border-radius: 15%;border: 1px dotted deeppink;box-shadow:deeppink;">
    </div>
  </div>
