 <mat-toolbar color="primary">
    <span style="font-family: serif;"><i>Hotel Conifer</i></span>
    <div class="spacer"></div>

    <a mat-button routerLink="/home" routerLinkActive="active">Home</a>
    <a mat-button routerLink="/aboutus">About Us</a>
    <a mat-button routerLink="/rooms">Rooms</a>
    <a mat-button routerLink="/bar">Bar</a>
    <a mat-button [routerLink]="['/products']">Order</a>
    <a mat-raised-button color="accent" routerLink="/homee">Booking</a>

    </mat-toolbar><br>

   
